@CHARSET "ISO-8859-1";

body{
	
		background-image:url('../images/background.jpg');

}

/* #logoName{
	
	padding-bottom:10px;
	color:#fff;
	font-size:1em;
}

sidebar nav
#inner-doc #inner-nav {
  margin-bottom: 40px;
}

#inner-doc #sidebar-nav-holder.fixed {
  top: 10px;
}
@media only screen and (max-width: 768px) {
  #inner-doc #sidebar-nav-holder.fixed {
    width: 100%;
  }
}

#inner-doc #sidebar-nav-holder.end {
  position: absolute;
}

#inner-doc #sidebar-nav {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  #inner-doc #sidebar-nav {
    margin-bottom: 30px;
  }
}

#inner-doc #sidebar-nav li{

	width:250px;
}

#inner-doc #sidebar-nav li a {
  background: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}


#inner-doc #sidebar-nav a {
  color: #555555;
  display: block;
  padding: 14px 20px;
}
#inner-doc #sidebar-nav a:hover {
  background:  #F13C73;
}

position sidebar to the left

#nav-sidebar{
	position:absolute;
	top:100px;
	left:0;
	width:270px;
	height:85%;
	margin-top:-40px;
	border-right-style:solid;
	border-right-color:#555555;
	border-right-width:1px;
}

#docs-content{

	position:relative;
	left:300px;
	margin-right:300px;
	
}

.nav-fields{

	padding-top:5px;
	
}

#topheaderProfile{
        padding-left:360px;
}

#topheaderSignout{
        padding-left:10px;
}
.nav-fields a:hover{
	color:#888888;
}

.nav-fields a{
	
	color:#fff;
} */
/*search bar css*/

#tfnewsearch {
        text-align: center;
        padding-left: 100px;
        padding-top:35px;
}

.tftextinput {
        margin: 0;
        padding: 12px 120px;
        font-size: 24px;
        border: 1px solid #F13C73;
        border-right: 0px;
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
        opacity:0.7;
        text-align:left;
}

.tfbutton {
        margin: 0;
        padding: 12px 50px;
        font-size: 24px;
        outline: none;
        cursor: pointer;
        text-align: centre;
        text-decoration: none;
        color: #ffffff;
        border: solid 1px #F13C73;
        border-right: 0px;
        background: #F13C73;
        background: -webkit-gradient(linear, left top, left bottom, from(#D11434),
                to(#F51335));
        background: -moz-linear-gradient(top, #D11434, #F51335);
        border-top-right-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        opacity:0.9;
}

.tfbutton:hover {
        text-decoration: none;
        background: #D11434;
        background: -webkit-gradient(linear, left top, left bottom, from(#F51335),
                to(#D11434));
        background: -moz-linear-gradient(top, #F51335, #D11434);
        opacity:0.9;
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
        border: 0;
}

/* search bar  */
/* #searchUsers{
	width:200px;
} */


/* so we can use icons */
/*  .useFontAwesome [class^="icon-"], .useFontAwesome [class*=" icon-"]{
    font-family: fontawesome !important;
} */
