@CHARSET "ISO-8859-1";

.field{
	
}
#acl-list{
	margin-left:200px;
}
.ip-block{
	display:inline;
}
.protocol{
	display:inline;
}
.ip-range{
	display:inline;
}
.ip-block input.xnarrow, .input.xnarrow{
	width:400px;
}
.protocol input.xnarrow, .input.xnarrow{
	width:400px;
}
.ip-range input.xnarrow, .input.xnarrow{
	width:190px;
}
.drop{
	display:inline;
}
#acl-btn {
        margin: 0;
        padding: 12px 50px;
        font-size: 24px;
        outline: none;
        cursor: pointer;
        text-align: centre;
        text-decoration: none;
        color: #ffffff;
        border: solid 1px #F13C73;
        border-right: 0px;
        background: #F13C73;
        background: -webkit-gradient(linear, left top, left bottom, from(#D11434),
                to(#F51335));
        background: -moz-linear-gradient(top, #D11434, #F51335);
        border-radius: 5px;
}
