@CHARSET "ISO-8859-1";



#receiverName{
        position:relative;
}

.date{
        position:relative;
}

.dateDetails{

}

.content {
	bottom:100px;
}

.temp{
        text-align:center;
        padding-top:35px;
}