@CHARSET "ISO-8859-1";


body{
	
		background-image:url('../images/background.jpg');

}

#logoName{
	
	padding-bottom:10px;
	color:#fff;
	font-size:1em;
}

/* sidebar nav*/
#inner-doc #inner-nav {
  margin-bottom: 40px;
}

#inner-doc #sidebar-nav-holder.fixed {
  top: 10px;
}
/* @media only screen and (max-width: 768px) {
  #inner-doc #sidebar-nav-holder.fixed {
    width: 100%;
  }
} */

/* #inner-doc #sidebar-nav-holder.end {
  position: absolute;
} */

#inner-doc #sidebar-nav {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  #inner-doc #sidebar-nav {
    margin-bottom: 30px;
  }
}

#inner-doc #sidebar-nav li{

	width:250px;
}

#inner-doc #sidebar-nav li a {
  background: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}


#inner-doc #sidebar-nav a {
  color: #555555;
  display: block;
  padding: 14px 20px;
}
#inner-doc #sidebar-nav a:hover {
  background:  #F13C73;
}

/*position sidebar to the left*/

#nav-sidebar{
	position:absolute;
	top:100px;
	left:0;
	width:270px;
	height:85%;
	margin-top:-40px;
	border-right-style:solid;
	border-right-color:#555555;
	border-right-width:1px;

}

#docs-content{

	position:relative;
	left:300px;
	margin-right:300px;
	
}

.nav-fields{

	padding-top:5px;
	left:100px;
}

.nav-fields:hover{
	background-color:#888888;
}

.nav-fields a{
	
	color:#fff;
}

#friends{
	display:none;
	background-color:Salmon;
	width:200px;
	height:100%;
	position:absolute;
	right:0;
	top:60px;
	margin-top:-60px;
}

.friendList{
	cursor:pointer;
	padding:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:black;
}

.friend{
	padding-top:11px;
	padding-left:10px;
}


/* search bar  */
/* #searchUsers{
	width:200px;
} */


/* so we can use icons */
/*  .useFontAwesome [class^="icon-"], .useFontAwesome [class*=" icon-"]{
    font-family: fontawesome !important;
} */

