/*Tan Wai Kit
IS1201
123696F*/

@CHARSET "ISO-8859-1";

#receiverName{
	position:relative;
	float:left;
}

.message{
	position:relative;
	top:-10px;
}

#MessageContent{
	margin:0px;
	height:500px;
	width:800px;
	border: 5px solid #F13C73;
	border-radius: 5px;
    background-color:PowderBlue;
    resize:none;
    font-size: 13pt;
    font-family: Impact,Charcoal, sans-serif;
    text-align:left;
    
}

#MessageBox{
	position:relative;
	top:100px;
}

.tftextinput {
	margin: 0;
	font-size: 24px;
	border: 5px solid #F13C73;
	border-radius: 5px;
	opacity:0.7;
	text-align:left;
	background-color:PowderBlue;
	width:800px;
	height:70px;
}

.tfbutton {
	margin: 0;
	padding: 12px 50px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	text-align: centre;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #F13C73;
	border-right: 0px;
	background: #F13C73;
	background: -webkit-gradient(linear, left top, left bottom, from(#D11434),
		to(#F51335));
	background: -moz-linear-gradient(top, #D11434, #F51335);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	opacity:0.9;
	position:relative;
	left:475px;
	bottom:63px;
}

.tfbutton:hover {
	text-decoration: none;
	background: #D11434;
	background: -webkit-gradient(linear, left top, left bottom, from(#F51335),
		to(#D11434));
	background: -moz-linear-gradient(top, #F51335, #D11434);
	opacity:0.9;
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
	border: 0;
}

/*temp div*/

.temp{
	text-align:center;
	padding-top:35px;
}


/* search bar  */
/* #searchUsers{
	width:200px;
} */

/* so we can use icons */
/*  .useFontAwesome [class^="icon-"], .useFontAwesome [class*=" icon-"]{
    font-family: fontawesome !important;
} */