@CHARSET "ISO-8859-1";


a :hover{
	color:#fff;
}


/* search bar  */
/* #searchUsers{
	width:200px;
} */

/* so we can use icons */
/*  .useFontAwesome [class^="icon-"], .useFontAwesome [class*=" icon-"]{
    font-family: fontawesome !important;
} */